:root {
  --black: #000;
  --white: #FFF;
  --green: #53B873;
  --slate: #474C4F;
  --alto: #DCDCDC;
  --alabaster: #FAFAFA;
  --mercury: #E9E9E9;
  --mine-shaft: #2D2D2D;
}

body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}