/* this is for styling the freestyle app and
making styling changes in the library */
:root {
  --black: #000;
  --white: #FFF;
  --fern: #48BA70;
  --margarita: #116AF0;
  --science-blue: #0A5FC7;
  --paradiso: #2E7668;
  --emerald: #4CCE6F;
  --fruit-salad: #4CA465;
  --dodger-blue: #2E71FC;
  --slate: #474C4F;
  --tuna: rgba(60, 64, 67, 0.90);
  --light-tuna: #777;
  --alto: #DCDCDC;
  --lightgray: #D3D3D3;
  --alabaster: #FAFAFA;
  --concrete: #F3F3F3;
  --mercury: #E9E9E9;
  --mine-shaft: #2D2D2D;
  --shade: rgba(0,0,0,0.5);
}

*:focus {
  outline: var(--dodger-blue);
  @apply .btw-border-dodger-blue;
  outline-color: var(--dodger-blue);
}
