/**
 * You can create Tailwind components using @apply here.
 *
 * Feel free to rename this file, define multiple components here, or make
 * any other files in this directory.

 * Here's an example:
**/

/*
.btn-blue {
 @apply .bg-blue .text-white .font-bold .py-2 .px-4 .rounded;
}
.btn-blue:hover {
 @apply .bg-blue-dark;
}
*/


:root {
  --black: #000;
  --white: #FFF;
  --emerald: #4CCE6F;
  --fruit-salad: #4CA465;
  --slate: #474C4F;
  --alto: #DCDCDC;
  --alabaster: #FAFAFA;
  --concrete: #F3F3F3;
  --mercury: #E9E9E9;
  --mine-shaft: #2D2D2D;
}

body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}