 {{#freestyle-collection title='alert badge' defaultKey='all' inline=false as |collection|}}

  {{#collection.variant key='default'}}
    {{#freestyle-usage 'alert-badge' title='alert badge' usageTitle='Usage'}}
      {{bourbon-alert-badge message="This feature isn't available on your current plan." }}
    {{/freestyle-usage}}

    {{#freestyle-note 'alert-badge--notes'}}
      <h4>alert badge options</h4>
      <ul>
        <li>message (required)</li>
      </ul>

    {{/freestyle-note}}
  {{/collection.variant}}

{{/freestyle-collection}}
