 {{#freestyle-collection title='demo prompt' defaultKey='all' inline=false as |collection|}}

  {{#collection.variant key='default'}}
    {{#freestyle-usage 'demo-prompt' title='demo prompt' usageTitle='Usage'}}
      {{bourbon-demo-prompt header="Need help? Schedule a demo." message="We would be happy to demo the setup and functionality for you. Tap the button to the right to schedule a demo." buttonTitle="Schedule a demo" buttonAction=(action "buttonClick")}}
    {{/freestyle-usage}}

    {{#freestyle-note 'demo-prompt--notes'}}
      <h4>Demo prompt options</h4>
      <ul>
        <li>header (required)</li>
        <li>message (required)</li>
        <li>buttonTitle (required)</li>
        <li>buttonAction (required)</li>
      </ul>
    {{/freestyle-note}}
  {{/collection.variant}}


{{/freestyle-collection}}
