{{#collection.variant key='primary'}}
  {{#freestyle-usage 'primary-button' title='primary button' usageTitle='Usage'}}
    {{bourbon-button title='Primary button long name' class='BourbonButton--primary' action=(action 'buttonClick') data-hint='press the button' tabindex=1}}
  {{/freestyle-usage}}

  {{#freestyle-annotation}}
    <h4>Button options</h4>
    <ul>
      <li>title (required)</li>
      <li>fullWidth (optional)</li>
      <li>action (required)</li>
      <li>linkTo: to use if you want to open an external link (optional)</li>
      <li>openLinkInNewTab: default is false. true will open into a new tab (optional)</li>
    </ul>

    <p>The primary button is used in most situtations to indicate the primary action.</p>
    <p>All titles should be entered in sentence case.</p>
    <p>The attributes that can be added to the button currently include the following:</p>
    <ul>
      <li>aria-label</li>
      <li>tabindex</li>
      <li>data-role</li>
      <li>target</li>
      <li>data-hint</li>
    </ul>


  {{/freestyle-annotation}}

  {{#freestyle-usage 'primary-full-width-button' title='primary full width button' usageTitle='Usage'}}
    {{#bourbon-button class='BourbonButton--primary' action=(action 'buttonClick') data-hint='press the button' fullWidth=true}}
      Primary button full width
    {{/bourbon-button}}
  {{/freestyle-usage}}

  <div class="FreestyleUsage-title">
    primary button hover state
  </div>
  <div class="FreestyleUsage-rendered">
    <button style="background-color: var(--emerald) !important; border-color: var(--emerald) !important;" class="BourbonButton BourbonButton--primary">Hover</button>
  </div>

  <div class="FreestyleUsage-title">
    primary button pressed state
  </div>
  <div class="FreestyleUsage-rendered">
    <button style="background-color: var(--fruit-salad) !important; border-color: var(--fruit-salad) !important;" class="BourbonButton BourbonButton--primary">Pressed</button>
  </div>

  {{#freestyle-usage 'button' title='primary button disabled state'}}
    {{bourbon-button title='Disabled' class='BourbonButton--primary BourbonButton--disabled'}}
  {{/freestyle-usage}}
{{/collection.variant}}
