{{#collection.variant key='primary'}}
  {{#freestyle-usage 'primary-button' title='primary button' usageTitle='Usage'}}
    {{bourbon-button title='Primary button long name' class='bourbon-primary-button' action=(action 'buttonClick') data-hint='press the button' tabindex=0}}
  {{/freestyle-usage}}

  {{#freestyle-annotation}}
    <p>The primary button is used in most situtations to indicate the primary action.</p>
    <p>All titles should be entered in sentence case.</p>
    <p>The attributes that can be added to the button currently include the following:</p>
    <ul>
      <li>aria-label</li>
      <li>data-role</li>
      <li>target</li>
      <li>data-hint</li>
    </ul>
  {{/freestyle-annotation}}

  {{#freestyle-usage 'primary-full-width-button' title='primary full width button' usageTitle='Usage'}} 
    {{bourbon-button title='Primary button full width' class='bourbon-primary-button' action=(action 'buttonClick') data-hint='press the button' tabindex=0 fullWidth=true}}
  {{/freestyle-usage}}

  <div class="FreestyleUsage-title">
    primary button hover state
  </div>
  <div class="FreestyleUsage-rendered">
    <button style="background-color: var(--emerald) !important; border-color: var(--emerald) !important;" class="bourbon-button bourbon-primary-button">Hover</button>
  </div>

  <div class="FreestyleUsage-title">
    primary button pressed state
  </div>
  <div class="FreestyleUsage-rendered">
    <button style="background-color: var(--fruit-salad;) !important; border-color: var(--fruit-salad;) !important;" class="bourbon-button bourbon-primary-button">Pressed</button>
  </div>

  {{#freestyle-usage 'button' title='primary button disabled state'}}
    {{bourbon-button title='Disabled' class='bourbon-primary-button bourbon-disable-button'}}
  {{/freestyle-usage}}
{{/collection.variant}}
