{{#collection.variant key='primary'}}
  {{#freestyle-usage 'primary-button' title="primary button" usageTitle='Usage'}}
    {{bourbon-button title="Primary button" additionalClasses="bourbon-primary-button" action=(action 'buttonClick')}}
  {{/freestyle-usage}}

  {{#freestyle-annotation}}
    <p>The primary button is used in most situtations to indicate the primary action.</p>
    <p>All titles should be entered in sentence case. </p>
  {{/freestyle-annotation}}

  <div class="FreestyleUsage-title">
    primary button hover state
  </div>
  <div class="FreestyleUsage-rendered">
    <button style="background-color: var(--emerald) !important; border-color: var(--emerald) !important;" class="bourbon-button bourbon-primary-button">Hover</button>
  </div>

  <div class="FreestyleUsage-title">
    primary button pressed state
  </div>
  <div class="FreestyleUsage-rendered">
    <button style="background-color: var(--fruit-salad;) !important; border-color: var(--fruit-salad;) !important;" class="bourbon-button bourbon-primary-button">Pressed</button>
  </div>

  {{#freestyle-usage 'button' title="primary button disabled state"}}
    {{bourbon-button title="Disabled" additionalClasses="bourbon-primary-button bourbon-disable-button" action=(action 'buttonClick')}}
  {{/freestyle-usage}}
{{/collection.variant}}
