{{#collection.variant key='rounded'}}
  {{#freestyle-usage 'rounded-primary-button' title='rounded primary button' usageTitle='Usage'}}
    {{bourbon-button title='Setup guide' class='BourbonButton--primary BourbonButton--rounded' action=(action 'buttonClick') data-hint='press the button' icon='new-tab'}}
  {{/freestyle-usage}}

  {{#freestyle-usage 'rounded-primary-full-width-button' title='primary full width button' usageTitle='Usage'}}
    {{#bourbon-button class='BourbonButton--primary BourbonButton--rounded' action=(action 'buttonClick') data-hint='press the button' fullWidth=true}}
      Rounded primary button full width
    {{/bourbon-button}}
  {{/freestyle-usage}}

  <div class="FreestyleUsage-title">
    primary button hover state
  </div>
  <div class="FreestyleUsage-rendered">
    <button style="background-color: var(--emerald) !important; border-color: var(--emerald) !important;" class="BourbonButton BourbonButton--primary BourbonButton--rounded">Hover</button>
  </div>

  <div class="FreestyleUsage-title">
    primary button pressed state
  </div>
  <div class="FreestyleUsage-rendered">
    <button style="background-color: var(--fruit-salad) !important; border-color: var(--fruit-salad) !important;" class="BourbonButton BourbonButton--primary BourbonButton--rounded">Pressed</button>
  </div>

  {{#freestyle-usage 'rounded-primary-disabled-button' title='primary rounded button disabled state'}}
    {{bourbon-button title='Disabled' class='BourbonButton--primary BourbonButton--disabled BourbonButton--rounded'}}
  {{/freestyle-usage}}
{{/collection.variant}}
