{{#collection.variant key='Secondary'}}
  {{#freestyle-usage 'secondary-button' title='Secondary Button' usageTitle='Usage'}}
    {{bourbon-button title="Secondary Button" additionalClasses="bourbon-secondary-button" action=(action 'buttonClick')}}
  {{/freestyle-usage}}

    <div class="FreestyleUsage-title">
      secondary button hover state
    </div>
    <div class="FreestyleUsage-rendered">
      <button style="background-color: var(--white) !important;" class="bourbon-button bourbon-secondary-button">Hover</button>
    </div>

    <div class="FreestyleUsage-title">
      secondary button pressed state
    </div>
    <div class="FreestyleUsage-rendered">
      <button style="background-color: var(--concrete) !important; border-color: var(--concrete) !important;" class="bourbon-button bourbon-secondary-button">Pressed</button>
    </div>

    {{#freestyle-usage 'button' title="secondary button disabled state"}}
      {{bourbon-button title="disabled" additionalClasses="bourbon-secondary-button bourbon-disable-button" action=(action 'buttonClick')}}
    {{/freestyle-usage}}
{{/collection.variant}}
