{{#collection.variant key='Secondary'}}
  {{#freestyle-usage 'secondary-button' title='Secondary Button' usageTitle='Usage'}}
    {{bourbon-button title='Secondary button' class='bourbon-secondary-button' action=(action 'buttonClick')}}
  {{/freestyle-usage}}

  {{#freestyle-usage 'secondary-full-width-button' title='Secondary Full Width Button' usageTitle='Usage'}}
    {{bourbon-button title='Secondary button' class='bourbon-secondary-button' action=(action 'buttonClick' fullWidth=true)}}
  {{/freestyle-usage}}

    <div class="FreestyleUsage-title">
      secondary button hover state
    </div>
    <div class="FreestyleUsage-rendered">
      <button style="background-color: var(--white) !important;" class="bourbon-button bourbon-secondary-button">Hover</button>
    </div>

    <div class="FreestyleUsage-title">
      secondary button pressed state
    </div>
    <div class="FreestyleUsage-rendered">
      <button style="background-color: var(--concrete) !important; border-color: var(--concrete) !important;" class="bourbon-button bourbon-secondary-button">Pressed</button>
    </div>

    {{#freestyle-usage 'button' title='secondary button disabled state'}}
      {{bourbon-button title='Disabled' class='bourbon-secondary-button bourbon-disable-button'}}
    {{/freestyle-usage}}
{{/collection.variant}}
