{{#freestyle-section name='Components' as |section|}}
  {{#freestyle-subsection name='Buttons' section=section}}
    
    {{#freestyle-collection title="All buttons" defaultKey="all" inline=false as |collection|}}
    
      {{#freestyle-variant collection=collection key='primary'}}
        {{#freestyle-usage 'button' title="primary button" usageTitle='Usage'}}
          {{bourbon-button title="Primary button" class="bourbon-primary-button"}}
        {{/freestyle-usage}}

        {{#freestyle-annotation}}
          <p>The primary button is used on blah blah.</p>
        {{/freestyle-annotation}}

      {{/freestyle-variant}}
    
      {{#freestyle-variant collection=collection key='Secondary'}}
        {{#freestyle-usage 'button' title='Secondary Button' usageTitle='Usage'}}
          {{bourbon-button title="Secondary Button" class="bourbon-secondary-button"}}
        {{/freestyle-usage}}
      {{/freestyle-variant}}
    
    {{/freestyle-collection}}
  {{/freestyle-subsection}}


  {{#freestyle-subsection name='Button States' section=section}}

    {{#freestyle-collection title="Button Component In Every State" defaultKey="all" inline=false as |collection|}}
      
      {{#freestyle-variant collection=collection key='default'}}
        {{#freestyle-usage 'button' title="button default state"}}
          {{bourbon-button title="default" class="bourbon-primary-button"}}
        {{/freestyle-usage}}
      {{/freestyle-variant}}
    
      {{#freestyle-variant collection=collection key='disabled'}}
        {{#freestyle-usage title="disabled"}}
           {{bourbon-button title="default" class="bourbon-primary-button bourbon-disable-button"}}
        {{/freestyle-usage}}
      {{/freestyle-variant}}

    {{/freestyle-collection}}

  {{/freestyle-subsection}}
{{/freestyle-section}}