{{#freestyle-section name='Icons' as |section|}}
  {{#section.subsection name='SVG'}}


    {{#freestyle-usage 'bourbon-loading-svg' title='Loading'}}
      {{partial 'bourbon-loading-svg'}}
    {{/freestyle-usage}}





    {{#freestyle-annotation}}
      <h4>SVG options</h4>
      <ul>
        <li>size: options are 'small' 18px, 'medium' 24px, 'large' 36px (optional), default is medium</li>
        <li>color: default is black (optional)</li>
      </ul>
    {{/freestyle-annotation}}
  {{/section.subsection}}
{{/freestyle-section}}
