<span class="BourbonToggle--switchBase">
  <span class="BourbonToggleButton--label">
    <input class="BourbonToggle-input" name="checkedA" type="checkbox" value="" checked="">
    <span class="BourbonToggle--thumb"></span>
  </span>
</span>
<span class="BourbonToggle--track"></span>
