{{#if title}}
  <span class='bourbon-button__title'>
    {{title}}
  </span>
{{/if}}
{{#if icon}}
  {{partial (concat 'bourbon-' icon '-svg')}}
{{/if}}

{{!-- option to use block params for buttons --}}
{{yield}}
