<div class="bourbon-search-select-field__input-container">
  {{bourbon-text-field placeholder=prompt value=value actionOnFocusIn=(action 'showContent') actionOnFocusOut=(action 'hideContent')}}
  {{bourbon-search-icon  hide=showSearchIcon className="bourbon-search-select-field__icon"}}
</div>

<div class="bourbon-search-select-field__search-container">
  {{bourbon-select-field content=searchList fullWidth=true showDropdown=showDropdown searchTerm=value optionLabelPath=optionLabelPath optionValuePath=optionValuePath}}
</div>
