<div class="BourbonDemoPrompt-textContainer ">
  <div class="BourbonDemoPrompt-header">
      {{header}}
  </div>
  <div class="BourbonDemoPrompt-message">
    {{message}}
  </div>
</div>
{{bourbon-button title=buttonTitle class='BourbonButton--primary BourbonButton--rounded BourbonDemoPrompt-button' action=(action "buttonAction")}}
