<div class="BourbonSearchSelectField-inputContainer">
  {{bourbon-text-field placeholder=prompt value=inputValue autofocus=autofocus autocomplete="off" type="search"}}
</div>

<div class="BourbonSearchSelectField-searchContainer">
  {{bourbon-select-field content=searchList prompt=prompt fullWidth=true showList=showDropdown searchTerm=inputValue label=label value=value optionLabelPath=optionLabelPath optionValuePath=optionValuePath optionEnabledPath=optionEnabledPath groupedContent=groupedContent selectFieldContext=selectFieldContext}}
</div>
