<div class="bourbon-search-box__text-field-container">
  {{bourbon-text-field placeholder="Select an action..." actionOnFocusIn=(action 'showContent') actionOnFocusOut=(action 'hideContent')}}
  {{bourbon-search-icon  hide=showSearchIcon className="bourbon-search-box__icon"}}
</div>


{{bourbon-select-field content=content fullWidth=true}}
