<div class="bourbon-demo-prompt__text-container">
  <div class="bourbon-demo-prompt__header">
      {{header}}
  </div>
  <div class="bourbon-demo-prompt__message">
    {{message}}
  </div>
</div>
{{bourbon-button title=buttonTitle class='bourbon-secondary-button bourbon-rounded-button bourbon-demo-prompt__button' action=(action "buttonAction")}}
