<div class="BourbonSelectField-selected" tabindex="0">{{label}}</div>
<div class="BourbonSelectField-menu {{if showList 'BourbonSelect--focus btw-block'}}">
  {{#each internalContent as |option index|}}
    {{bourbon-select-field-option label=option.label disabled=(not option.enabled) active=(eq index activeIndex) selected=(eq index selectedIndex) mouseDown=(action 'selectIndex' index)}}
  {{/each}}
</div>
