<div>
  <div class="btw-text-xs btw-mb-2 btw-text-slate">
    <div class="btw-uppercase btw-font-bold btw-text-sm btw-text-black">Survey</div>Travel Dreams
  </div>
  <div class="btw-text-xs btw-mb-2 btw-text-slate">
    <div class="btw-uppercase btw-font-bold btw-text-sm btw-text-black">Question</div>Which continent is your ideal vacation?
  </div>
  <div class="btw-text-xs btw-mb-4 btw-text-slate">
    <div class="btw-uppercase btw-font-bold btw-text-sm btw-text-black">Date</div>Last 30 days
  </div>
</div>
<div class="btw-flex">
  {{bourbon-button title='Copy' class='BourbonButton--primary btw-mr-2'}}
  {{bourbon-button title='Edit' class='BourbonButton--secondary'}}
</div>
