<p class="BourbonModal-description ">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  Id nibh tortor id aliquet lectus proin. Cursus risus at ultrices mi tempus imperdiet nulla. Lorem dolor sed viverra ipsum.
  Ullamcorper velit sed ullamcorper morbi tincidunt ornare massa eget.
</p>
<div class="BourbonModal-contentArea ">
  <img src="https://getfeedback.imgix.net/uploads/images/4732266/c7bf99dc0ed943bf649d5100a9ecacd89197d90a.jpeg?ixlib=rb-0.3.4&auto=compress%2Cformat&w=&fit=clip&s=6fd732dc097d912ab76bb549ff30998f" alt="">
</div>
