<div>
  <div class="bourbon-text-xs bourbon-mb-2">
    <div class="bourbon-uppercase bourbon-font-bold bourbon-text-sm">Survey</div>Travel Dreams
  </div>
  <div class="bourbon-text-xs bourbon-mb-2">
    <div class="bourbon-uppercase bourbon-font-bold bourbon-text-sm">Question</div>Which continent is your ideal vacation?
  </div>
  <div class="bourbon-text-xs bourbon-mb-2">
    <div class="bourbon-uppercase bourbon-font-bold bourbon-text-sm">Date</div>Last 30 days
  </div>
</div>
<div class="bourbon-flex">
  {{bourbon-button title='Copy' class='bourbon-primary-button bourbon-mr-2'}}
  {{bourbon-button title='Edit' class='bourbon-secondary-button'}}
</div>
