<svg width="257px" height="232px" viewBox="0 0 257 232" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
  <!-- Generator: sketchtool 52.3 (67297) - http://www.bohemiancoding.com/sketch -->
  <title>AB4EAAE7-A5C2-4B00-B550-B35DFD8ED8E9</title>
  <desc>Created with sketchtool.</desc>
  <g id="Designs-(v3:-static-pages-v2)" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
    <g id="Static-page-04:-Setup,-demo-v2" transform="translate(-596.000000, -105.000000)">
      <g id="views-/-feature-overview" transform="translate(470.000000, 105.000000)">
        <g id="illustrations-/-messaging" transform="translate(126.000000, 0.000000)">
          <path d="M56,111 L25,142 L25,109.796066 C10.5899359,105.850661 1.91804629e-15,92.6620365 0,77 L0,34 C-2.29960275e-15,15.2223185 15.2223185,3.44940413e-15 34,0 L126,0 C144.777681,-3.44940413e-15 160,15.2223185 160,34 L160,77 C160,95.7776815 144.777681,111 126,111 L56,111 Z"
            id="bubble__background" fill="#9B9B9B" opacity="0.596237909"></path>
          <path d="M146.656854,185 L110,221.656854 L110,182.717973 C95.1949884,177.33705 85,163.17713 85,147 L85,104 C85,83.0131795 102.01318,66 123,66 L215,66 C235.98682,66 253,83.0131795 253,104 L253,147 C253,167.98682 235.98682,185 215,185 L146.656854,185 Z M134.5,132 C138.089851,132 141,129.089851 141,125.5 C141,121.910149 138.089851,119 134.5,119 C130.910149,119 128,121.910149 128,125.5 C128,129.089851 130.910149,132 134.5,132 Z M169.5,132 C173.089851,132 176,129.089851 176,125.5 C176,121.910149 173.089851,119 169.5,119 C165.910149,119 163,121.910149 163,125.5 C163,129.089851 165.910149,132 169.5,132 Z M203.5,132 C207.089851,132 210,129.089851 210,125.5 C210,121.910149 207.089851,119 203.5,119 C199.910149,119 197,121.910149 197,125.5 C197,129.089851 199.910149,132 203.5,132 Z"
            id="bubble__foreground" stroke="#FFFFFF" stroke-width="8" fill="#4A90E2" transform="translate(169.000000, 141.000000) scale(-1, 1) translate(-169.000000, -141.000000) "></path>
        </g>
      </g>
    </g>
  </g>
</svg>
