<svg width="14px" height="14px" viewBox="0 0 14 14" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
  <!-- Generator: sketchtool 52.3 (67297) - http://www.bohemiancoding.com/sketch -->
  <title>BA00B9BE-4613-48CD-AD39-133EC74C84E2@1x</title>
  <desc>Created with sketchtool.</desc>
  <g id="Designs-(v3:-static-pages-v2)" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
    <g id="Static-page-04:-Setup,-demo-v2" transform="translate(-755.000000, -572.000000)" fill="#FFFFFF" fill-rule="nonzero">
      <g id="buttons-/-primary-/-large-icon" transform="translate(630.000000, 557.000000)">
        <g id="Group" transform="translate(41.000000, 13.000000)">
          <g id="icons-/-newtab" transform="translate(84.000000, 2.000000)">
            <path d="M1.71328671,1.27272727 C1.46997245,1.27272727 1.27272727,1.46997245 1.27272727,1.71328671 L1.27272727,12.2867133 C1.27272727,12.5300275 1.46997245,12.7272727 1.71328671,12.7272727 L12.2867133,12.7272727 C12.5300275,12.7272727 12.7272727,12.5300275 12.7272727,12.2867133 L12.7272727,1.71328671 C12.7272727,1.46997245 12.5300275,1.27272727 12.2867133,1.27272727 L1.71328671,1.27272727 Z M14,7.63636364 L14,12.04 C14,13.1224781 13.1224781,14 12.04,14 L1.96,14 C0.87752189,14 0,13.1224781 0,12.04 L0,1.96 C0,0.87752189 0.87752189,0 1.96,0 L6.36363636,0 L6.36363636,1.27272727 L8.90909091,1.27272727 L8.90909091,0 L14,0 L14,5.09090909 L12.7272727,5.09090909 L12.7272727,7.63636364 L14,7.63636364 Z M12.801808,0 L14,1.19819198 L8.83455561,6.36363636 L7.63636364,5.16544439 L12.801808,0 Z"></path>
          </g>
        </g>
      </g>
    </g>
  </g>
</svg>
